body {
  @apply w-screen h-screen;
}
* {
  opacity: 0.98;
}
.drag {
  -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}
.container {
  @apply w-full h-full;
}
.contextMenu {
  @apply rounded-md;
  button {
    @apply bg-[#2c3150] text-white py-1 hover:bg-[#34495e];
    & > div {
      @apply mx-3;
    }
  }
}

.commonItem {
  @apply flex items-center justify-between p-1 py-1 cursor-pointer truncate;
  &.active {
    @apply bg-blue-400 shadow-md transition-all duration-300 rounded-lg text-white ml-2;
  }
  &:hover {
    @apply bg-orange-400 shadow-md transition-all duration-300 rounded-lg text-white ml-2;
  }
}
