.container {
  @apply w-screen h-screen text-xs text-slate-700;
  display: grid;
  grid-template:
    'categories content' auto
    'nav content' 40px/150px 1fr;
}
.categories {
  grid-area: categories;
  @apply bg-slate-100 border-r overflow-y-auto block;
}
.content {
  grid-area: content;
}
