.container {
  @apply w-screen h-screen text-xs text-slate-700;
  display: grid;
  grid-template:
    'categories content' auto
    'nav content' 40px/100px 1fr;
}
.categories {
  grid-area: categories;
  @apply bg-slate-100 border-r overflow-y-auto block;
  .item {
    @apply flex items-center justify-between p-1 py-1 cursor-pointer truncate;
    &.active {
      @apply bg-blue-400 shadow-md transition-all duration-300 rounded-lg text-white;
    }
    &:hover {
      @apply bg-orange-400 shadow-md transition-all duration-300 rounded-lg text-white;
    }
  }
}
.content {
  grid-area: content;
}
.nav {
  grid-area: nav;
  @apply bg-slate-100 border-t border-r;
  display: grid;
  grid-template-columns: 1fr 1fr; // 将 nav 分为两列

  .iconWrapper {
    @apply flex items-center justify-center;
    &:first-child {
      @apply border-r;
    }
  }
}
